:root {
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #ffd700;
  --clr-silver: #dfdede;
  --clr-bronze: #ee9741;
  --clr-green: rgb(29, 218, 29);
  --clr-red: rgb(253, 78, 78);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  width: 80vw;
  margin: auto;
  max-width: 1500px;
  padding-top: 80px;
}

body {
  background-image: url(./images/zalgiris_arena.png);
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

body:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(48, 48, 48, 0.884);
  z-index: -1;
}

.details {
  margin-top: 20px;
  width: 40%;
}

tr {
  border: none;
}

.table_container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 40vh;
}

.header_row__item:not(:first-child),
.body_data__item:not(:first-child) {
  padding-left: 50px;
}

.body_data__item {
  font-size: 18px;
}

.body_data__item.gold,
.body_data__item.silver,
.body_data__item.bronze {
  font-size: 20px;
}

.standings__body {
  line-height: 40px;
}

.standings {
  width: 75%;
}

.team_info {
  display: flex;
  gap: 9px;
  align-items: center;
}

.team_info img {
  width: 30px;
  height: 30px;
}

.gold {
  color: var(--clr-gold);
}

.silver {
  color: var(--clr-silver);
}

.bronze {
  color: var(--clr-bronze);
}

.win {
  color: var(--clr-green);
}

.loss {
  color: var(--clr-red);
}

.header_row__item {
  text-align: left;
  padding-bottom: 20px;
}

dt,
dd {
  display: inline-block;
  width: calc(50% - 0.5rem);
  margin: 0;
}

dd {
  text-align: right;
}

.player__info--stats dt::after {
  content: ":";
}

dt {
  margin-top: 10px;
}

article {
  display: block;
  align-items: center;
}

article img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: auto;
  margin-top: 30px;
}

.player {
  display: flex;
  padding: 20px;
  flex: 1 0 34%;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 6px 7px 6px 0px rgba(120, 120, 120, 0.76);
  -webkit-box-shadow: 6px 7px 6px 0px rgba(120, 120, 120, 0.76);
  -moz-box-shadow: 6px 7px 6px 0px rgba(120, 120, 120, 0.76);
}

.player:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 14px 6px rgba(230, 230, 230, 0.95);
  -webkit-box-shadow: 0px 0px 14px 6px rgba(230, 230, 230, 0.95);
  -moz-box-shadow: 0px 0px 14px 6px rgba(230, 230, 230, 0.95);
}

.player__info h2 {
  text-align: center;
  font-size: 34px;
  margin: 0;
}

.player__info {
  padding: 0px 10px;
}

.player__info dl {
  margin: 20px;
}

.selected_player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.selected_player img {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 12px -1px rgba(230, 230, 230, 0.95);
  -webkit-box-shadow: 0px 0px 12px -1px rgba(230, 230, 230, 0.95);
  -moz-box-shadow: 0px 0px 12px -1px rgba(230, 230, 230, 0.95);
}

.selected_player__details {
  display: flex;
  font-size: 22px;
}

.selected_player__averages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  padding: 10px;
  gap: 30px;
}

.stats {
  text-align: right;
}

.stats_values {
  color: var(--clr-gold);
}

.stats_values ul > li,
.stats ul > li {
  margin-top: 24px;
}

.selected_details {
  margin-top: 60px;
}

.selected_details > dt,
.selected_details > dl {
  font-size: 20px;
}
